# VacationPy

In [44]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import os
import gmaps
import time

# Google developer API key
from config import key

# Access maps with unique API key
gmaps.configure(api_key=key)

In [ ]:
key

In [26]:
# Load WeatherPy.csv
cleanCity_df = pd.read_csv("../WeatherPy/city_weather.csv")
cleanCity_df.head(30)

,index,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,vaini,-21.2000,-175.2000,75.36,69,20,12.66,TO,1627954382
1,1,ahuimanu,21.4447,-157.8378,87.51,56,1,14.97,US,1627954518
2,3,anadyr,64.7500,177.4833,50.50,81,90,17.00,RU,1627954386
3,5,arraial do cabo,-22.9661,-42.0278,67.48,82,2,17.81,BR,1627954383
4,6,aguadulce,8.2500,-80.5500,78.13,86,100,4.85,PA,1627954525
5,7,souillac,-20.5167,57.5167,59.38,88,20,8.05,MU,1627954431
6,8,birnin kebbi,12.4539,4.1975,78.76,76,100,6.31,NG,1627954528
7,9,bathsheba,13.2167,-59.5167,81.21,78,20,10.36,BB,1627954370
8,10,roald,62.5833,6.1333,53.01,81,75,8.05,NO,1627954377
9,11,new norfolk,-42.7826,147.0587,52.75,73,97,1.99,AU,1627954376
10,12,mataura,-46.1927,168.8643,49.48,76,20,4.41,NZ,1627954358
11,13,busselton,-33.6500,115.3333,50.04,78,100,6.60,AU,1627954356
12,14,punta arenas,-53.1500,-70.9167,37.51,81,0,27.63,CL,1627954117
13,15,atuona,-9.8000,-139.0333,77.45,74,5,18.14,PF,1627954182
14,16,fortuna,40.5982,-124.1573,62.85,85,75,5.01,US,1627954314
15,17,mar del plata,-38.0023,-57.5575,51.13,46,0,5.01,AR,1627954381
16,19,barrow,71.2906,-156.7887,44.62,87,90,16.11,US,1627954172
17,20,praia da vitoria,38.7333,-27.0667,73.76,100,90,3.69,PT,1627954434
18,21,tuktoyaktuk,69.4541,-133.0374,48.20,87,90,16.11,CA,1627954379
19,23,atambua,-9.1061,124.8925,84.72,43,40,1.81,ID,1627954378
20,24,saint-philippe,-21.3585,55.7679,67.59,67,0,2.28,RE,1627954353
21,25,port elizabeth,-33.9180,25.5701,53.89,87,0,10.36,ZA,1627954388
22,26,oranjemund,-28.5500,16.4333,57.24,67,0,4.16,NaN,1627954551
23,27,aksha,50.2814,113.2867,75.31,48,20,3.83,RU,1627954553
24,28,florianopolis,-27.6146,-48.5012,58.23,63,40,1.01,BR,1627954457
25,29,vao,-22.6667,167.4833,66.85,67,0,6.20,NC,1627954469
26,30,algiers,36.7525,3.0420,75.02,78,75,5.75,DZ,1627954382
27,33,mnogovershinnyy,53.9353,139.9242,50.95,93,100,5.82,RU,1627954561
28,34,grindavik,63.8424,-22.4338,51.91,100,75,4.61,IS,1627954357
29,35,hobart,-42.8794,147.3294,52.11,76,75,4.00,AU,1627954222

## Humidity Heatmap

In [7]:
locations = cleanCity_df[["Lat","Lng"]]
humidity = cleanCity_df["Humidity"].astype(float)
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=10, point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# Ideal weather conditions

humidity = cleanCity_df["Humidity"]<55
temp = ((cleanCity_df["Max Temp"]<=86) & (cleanCity_df["Max Temp"]>=70))
winds = cleanCity_df["Wind Speed"]<10

idealCities_df = cleanCity_df.loc[(temp&humidity&winds),:].reset_index()
# idealCities_df



# Locate first hotel within 5000m of ideal cities

# Creating hotel list for ideal cities
hotelList_df = idealCities_df[["City", "Country","Lat","Lng"]]
hotelList_df["Closest Hotel"] = ""

<ipython-input-50-e73e86d8cb42>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotelList_df["Closest Hotel"] = ""

In [52]:
# hotelList_df.head()

      City Country      Lat       Lng Closest Hotel
0  atambua      ID  -9.1061  124.8925
1    aksha      RU  50.2814  113.2867
2   gympie      AU -26.1898  152.6650
3     hami      CN  42.8000   93.4500
4  jiuquan      CN  39.7432   98.5174

In [54]:
# Call API data

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"radius": 5000,
          "type": "lodging",
          "key": key
         }

for index, row in idealCities_df.iterrows():
    
    # Name of City
    cityName = row["City"]
          
    # Add lat/lon to params dict
    Lat = row["Lat"]
    Lng = row["Lng"]       
    coordinates = f"{Lat},{Lng}"
    params["location"] = coordinates     

    # URL assembly an d API request
    print(f"Retrieving Results for: {cityName}.")
    time.sleep(1)
    response = requests.get(base_url,params=params).json()
    
    # Store results
    results = response["results"]
          
    try:
        print(f"Closest hotel in {cityName} to ({coordinates}) is {results[0]['name']}.")
        hotelList_df.loc[index, "Closest Hotel"] = results[0]["name"]
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping")
          
    print("---------------")

Retrieving Results for: atambua.
Closest hotel in atambua to (-9.1061,124.8925) is Pastori 1 Jemaat Polycarpus.
---------------
Retrieving Results for: aksha.

C:\Users\wodd\Anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

Closest hotel in aksha to (50.2814,113.2867) is Vizit.
---------------
Retrieving Results for: gympie.
Closest hotel in gympie to (-26.1898,152.665) is Mary River Motor Inn.
---------------
Retrieving Results for: hami.
Closest hotel in hami to (42.8,93.45) is Laoyutang Resort.
---------------
Retrieving Results for: jiuquan.
Closest hotel in jiuquan to (39.7432,98.5174) is Jiuquan Hotel.
---------------
Retrieving Results for: tuntum.
Closest hotel in tuntum to (-5.2581,-44.6489) is Casa da Dona Maria Lúcia.
---------------
Retrieving Results for: aripuana.
Missing field/result... skipping
---------------
Retrieving Results for: college.
Closest hotel in college to (64.8569,-147.8028) is Pike's Waterfront Lodge.
---------------
Retrieving Results for: nyurba.
Closest hotel in nyurba to (63.2842,118.3319) is Gostinitsa Alrosa.
---------------
Retrieving Results for: labrea.
Closest hotel in labrea to (-7.2586,-64.7981) is Hotel Novo Horizonte.
---------------
Retrieving Results for: thompson.
Closest hotel in thompson to (55.7435,-97.8558) is Burntwood Hotel.
---------------
Retrieving Results for: burns lake.
Closest hotel in burns lake to (54.2331,-125.7533) is Burns Lake Bed and Breakfast.
---------------
Retrieving Results for: xian.
Closest hotel in xian to (34.2583,108.9286) is Grand New World Hotel.
---------------
Retrieving Results for: kenora.
Closest hotel in kenora to (49.8167,-94.4337) is Maynard Lake Lodge.
---------------
Retrieving Results for: airai.
Closest hotel in airai to (-8.9266,125.4092) is Juvinal Martin.
---------------
Retrieving Results for: asyut.
Closest hotel in asyut to (27.181,31.1837) is Florence Hotel Assiut.
---------------
Retrieving Results for: komsomolskiy.
Closest hotel in komsomolskiy to (40.4272,71.7189) is Ikathouse.
---------------
Retrieving Results for: north ogden.
Closest hotel in north ogden to (41.3072,-111.9602) is Washington Estates Manufactured Home Community.
---------------
Retrieving Results for: lisakovsk.
Closest hotel in lisakovsk to (52.5369,62.4936) is Gostinitsa Lisakovsk.
---------------
Retrieving Results for: jalu.
Closest hotel in jalu to (29.0331,21.5482) is صاحبة الفخامة.
---------------
Retrieving Results for: sao felix do xingu.
Closest hotel in sao felix do xingu to (-6.6447,-51.995) is Rio Xingu Camping.
---------------
Retrieving Results for: voh.
Closest hotel in voh to (-20.9667,164.7) is Le Vook.
---------------
Retrieving Results for: talnakh.
Closest hotel in talnakh to (69.4865,88.3972) is Talnakh Hotel.
---------------
Retrieving Results for: kozluk.
Closest hotel in kozluk to (38.1938,41.4885) is roni rezisdans kozluk apart otel.
---------------
Retrieving Results for: blackwater.
Closest hotel in blackwater to (-23.5833,148.8833) is Blackwater Motor Inn.
---------------
Retrieving Results for: ulaangom.
Closest hotel in ulaangom to (49.9811,92.0667) is Achit Nuur Hotel & Restaurant.
---------------
Retrieving Results for: sile.
Closest hotel in sile to (41.1754,29.6133) is Phellos Suites.
---------------
Retrieving Results for: alofi.
Closest hotel in alofi to (-19.0595,-169.9187) is Taloa Heights.
---------------
Retrieving Results for: jinchang.
Closest hotel in jinchang to (38.4953,102.1739) is Mingshihui Jinchang International Hotel.
---------------
Retrieving Results for: korla.
Closest hotel in korla to (41.7597,86.1469) is Gulisitan Hotel.
---------------
Retrieving Results for: verkhoyansk.
Missing field/result... skipping
---------------
Retrieving Results for: yerbogachen.
Missing field/result... skipping
---------------
Retrieving Results for: ayagoz.
Closest hotel in ayagoz to (47.9714,80.4392) is Gostinitsa Nur.
---------------
Retrieving Results for: pafos.
Closest hotel in pafos to (34.7667,32.4167) is Elysium Hotel.
---------------
Retrieving Results for: klyuchi.
Closest hotel in klyuchi to (52.2667,79.1667) is Vesolaya Mayovka.
---------------
Retrieving Results for: awjilah.
Missing field/result... skipping
---------------
Retrieving Results for: batagay-alyta.
Missing field/result... skipping
---------------
Retrieving Results for: meadow lake.
Closest hotel in meadow lake to (34.8014,-106.5436) is JKL Inc. R.V Park and Storage.
---------------
Retrieving Results for: lander.
Closest hotel in lander to (42.833,-108.7307) is Holiday Inn Express & Suites Lander, an IHG Hotel.
---------------
Retrieving Results for: konibodom.
Closest hotel in konibodom to (40.2843,70.4426) is Hotel "Orom".
---------------
Retrieving Results for: sao miguel do araguaia.
Closest hotel in sao miguel do araguaia to (-13.275,-50.1628) is Hotel Executivo Palace.
---------------
Retrieving Results for: mizdah.
Closest hotel in mizdah to (31.4451,12.9801) is محمدالمبروك الاريقط.
---------------
Retrieving Results for: avera.
Missing field/result... skipping
---------------
Retrieving Results for: varzea grande.
Closest hotel in varzea grande to (-15.6467,-56.1325) is Hotel Express.
---------------
Retrieving Results for: abu samrah.
Missing field/result... skipping
---------------
Retrieving Results for: ust-kuyga.
Missing field/result... skipping
---------------
Retrieving Results for: jacareacanga.
Closest hotel in jacareacanga to (-6.2222,-57.7528) is Casa do Ian😎.
---------------
Retrieving Results for: biograd na moru.
Closest hotel in biograd na moru to (43.9433,15.4519) is Hotel Palma.
---------------
Retrieving Results for: hazorasp.
Closest hotel in hazorasp to (41.3194,61.0742) is Kemping wifi hotel.
---------------

In [56]:
# Export hotel list to .csv
hotelList_df.to_csv("Ideal_cities_hotel_list.csv", index=True)

In [57]:
# Clear cities without hotel in range

# hotelList_df = pd.read_csv("Ideal_cities_hotel_list.csv")
hotelsCleaned_df = hotelList_df[hotelList_df["Closest Hotel"].str.strip().astype(bool)].reset_index()

# hotelsCleaned_df.head()

   index     City Country      Lat       Lng                Closest Hotel
0      0  atambua      ID  -9.1061  124.8925  Pastori 1 Jemaat Polycarpus
1      1    aksha      RU  50.2814  113.2867                        Vizit
2      2   gympie      AU -26.1898  152.6650         Mary River Motor Inn
3      3     hami      CN  42.8000   93.4500             Laoyutang Resort
4      4  jiuquan      CN  39.7432   98.5174                Jiuquan Hotel

In [ ]:
# Plot heatmap with added hotel markers

locations = hotelsCleaned_df[["Lat","Lng"]].astype(float)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=poverty_rate, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

# Convert bank rate to list
bank_rate = census_data_complete["Bank Count"].tolist()

# Create bank symbol layer
bank_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=[f"Bank amount: {bank}" for bank in bank_rate]
)


fig = gmaps.figure()
fig.add_layer(bank_layer)

fig
Figure(layout=FigureLayout(height='420px'))

# Create a combined map
fig = gmaps.figure()

fig.add_layer(heat_layer)
fig.add_layer(bank_layer)

fig
Figure(layout=FigureLayout(height='420px'))